[Desktop Entry]
Name=WmSvencd
Comment=Yet Another CD PLayer with CDDB for Window Maker
Comment[pl]=Kolejny odtwarzacz CD pod Window Makera z obsługą CDDB
Exec=wmsvencd
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
